# ==========================================
# Environment Variables
# ==========================================

# FastAPI
FASTAPI_HOST=127.0.0.1
FASTAPI_PORT=8000

# n8n
N8N_BASE_URL=http://127.0.0.1:5678

# Database
DB_PATH=blogs.db

# ChromaDB
CHROMA_DB_PATH=./chroma_db

# API Keys
GEMINI_API_KEY=
GROQ_API_KEY=

# LinkedIn
LINKEDIN_ACCESS_TOKEN=
LINKEDIN_PERSON_URN=

# Discord
DISCORD_WEBHOOK_ID=
DISCORD_WEBHOOK_TOKEN=

# Gmail
GMAIL_USER=
